<%= link_to user_post_path(post.author, post), class: 'post-card' do%>
<h3><%= post.title%></h3> 
<div><%= post.text[0,50]%><%= if '...' post.text[51]%></div> 
<div class="post-card-count"><%= Comments: <%= post.comments_counter, Likes: <%= post.likes_counter%>%></div> 
<%end%>
