
<article class='post-card-no-click'>
<div class='post-card-title'>
<h1><%=@post.title%> by <%=@post.author.name%></h1>
<div class='post-card-count-top'>Comments: <%=@post.comments_counter%>, Likes: <%=@post.likes_counter%></div>
</div>
<div><%=@post.text%></div>
<%= button_to "Like", post_likes_path(@post), method: :post, class: ['common-btn', 'rigth-btn'] %>
<% if can? :destroy, @post %>
<%= button_to "Delete Post", post_path(@post), method: :delete, class: ['common-btn', 'rigth-btn', 'red-bth']%>
<%end%>
</article>
<%= render 'shared/comment', comments: @post.comment%>
<%= render 'shared/comment_form', post: @post, comment: @comment%> 